<%= form_for (@customer) do |f| %>

<div class="field">
	<%= f.label :phone %>
	<%= f.text_field :phone %>
</div>

<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :street %>
	<%= f.text_field :street %>
</p>

<p>
	<%= f.label :number %>
	<%= f.text_field :number %>
</p>

<p>
	<%= f.label :department %>
	<%= f.text_field :department %>
</p>

<% if action_name == 'edit' %>
	<%= f.submit "Edit Customer", class: 'btn btn-success' %>
<% else %> 
	<%= f.submit "Add Customer", class: 'btn btn-success' %>
<% end %>

<%= link_to "Back", customers_path, class: 'btn' %>
<% end %>

