<!DOCTYPE html>
<html ng-app>
<head>
  <title>Order Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

	

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Order Checker", root_url, class: 'brand'%>
      <div class="nav-collapse">
      	<% if user_signed_in? %>
      		<ul class="nav pull-right">
	          <li><%= link_to "Customers", customers_path %></li>
	          <li><%= link_to "Products", products_path %></li>
	          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	          <li><%= link_to "Logout (#{current_user.username})", destroy_user_session_path, method: :delete %></li>
	          <li><%=  %></li>
	        </ul>
	    <% else %>
	    	<ul class="nav pull-right">
	          <!--<li><%=  link_to "Sign Up", new_user_registration_path %></li>
	          <li><%= link_to "Sign In", new_user_session_path %></li>-->
	          
	        </ul>
	    <% end %>
      </div>
    </div>
  </div>
</div>
	<% flash.each do |name, msg| %>
    	<div class="alert alert-<%= name == :notice ? "success" : "error" %> flash">
      		<%= msg  %>
    	</div>
  	<% end %>
		<div class="container-fluid">
  			<div class="row-fluid">
					<%= yield %>
			</div>
		</div>
</body>
</html>
